*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*padding: 0 50px 50px 50px;*/
    padding: 50px;
    background-color: #18191C;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

/*header {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    margin: 20px 0 35px 0;
}*/

form {
    width: 800px;
    margin: auto;
}


.buttons {
    display: flex;
    justify-content: flex-end;
}

.button + .button {
    margin-left: 50px;
}

.button {
    min-width: 210px;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 15px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.button:focus, .button:focus-visible {
    border: 2px solid #ffffff;
    outline: none;
}

.button-orange {
    background-color: #FF8630;
}

.button-blue {
    background-color: #2E9AFF;
}

.button-yellow {
    background-color: #FFD829;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.input-label, .radio-set, .select-div, .checkbox_set {
    display: flex;
    justify-content: space-between;
}

.input-title, .radio-legend, .checkbox-legend {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-right: 35px;
}

.input {
    flex-shrink: 0;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: transparent;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
}

.input:focus {
    border-color: #FF8630;
    outline: none;
}

.input-textarea {
    min-width: 470px;
    max-width: 470px;
    min-height: 100px;
    max-height: 250px;
}

.input, .radio-container, .select-lang {
    width: 470px;
}

.radio-set, .checkbox_set {
    border: none;
}

.radio-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.radio-label:nth-last-child(n + 2) {
    margin-right: 50px;
    margin-bottom: 10px;
}

.radio-title, .checkbox-label {
    font-size: inherit;
}

.radio-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
    width: 25px;
    height: 25px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.radio {
    width: 25px;
    height: 25px;
    opacity: 0;
    margin-right: 15px;
}

.radio:checked + .radio-title::before {
    background-color: #FFFFFF;
    background: radial-gradient(
            circle,
            #FF8630 0%,
            #FF8630 40%,
            transparent 50%,
            transparent 100%
    );
}

.input-label, .radio-set, .radio-legend, .select-div, .checkbox_set {
    margin-bottom: 25px;
}


.select-label {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin-right: 35px;
}

.select-wrapper {
    position: relative;
    flex-direction: column;
}

.select-wrapper::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 15px;
    width: 14px;
    height: 8px;
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.select {
    position: relative;
    width: 470px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    padding: 10px 15px;
    background-color: #18191c;
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.checkbox-label {
    position: relative;
    display: flex;
    /*flex-direction: row-reverse;*/
    /*justify-content: space-between;*/
    font-size: 24px;
    font-weight: 500;
    line-height: 1
}

.checkbox-label {
    position: relative;
    display: flex;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-label + .checkbox-label {
    margin-top: 25px;
}

.checkbox-title {
    margin-left: 40px;
}

.checkbox-title, .checkbox {
    cursor: pointer;
}

/* Прячем дефолтный чекбокс */
.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Создаём собственный стиль для чекбокса */
.checkbox + .checkbox-title::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

/* И собственные стили для галочки */
.checkbox-title::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 4px;
    width: 8px;
    height: 14px;
    border: solid #2E9AFF;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    transform: rotate(45deg);
}

/* Подчеркиваем элемент при наведении курсора */
.checkbox-label:hover .checkbox + .checkbox-title {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* Когда чекбокс активен, меняем цвет текста */
.checkbox:checked + .checkbox-title {
    color: #2E9AFF;
}

/* «Галочка» скрыта, если чекбокс не выбран */
.checkbox-title::after {
    display: none;
}

/* Показываем «галочку», если чекбокс выбран */
.checkbox:checked + .checkbox-title::after {
    display: block;
}

.printBlock {
    justify-content: center;
    width: 800px;
    height: 300px;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16)), #121212;
    box-shadow: 0 24px 38px rgba(0, 0, 0, 0.14), 0 9px 46px rgba(0, 0, 0, 0.12), 0 11px 15px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding: 40px 0 0 60px;
    font-size: 40px;
}