* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url("/ЛБ7/fonts/Montserrat.woff2") format("woff2")
}

body {
    height: 100%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    vertical-align: top;
}

header {
    text-align: center;
    padding-top: 12px;
    /*width: 793px;*/
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 20px;
}

a{
    font-size: 40px;
}