* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.woff2") format("woff2")
}

body {
    height: 100%;
    background-color: #FCF5F3;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    vertical-align: top;
}

header {
    text-align: center;
    padding-top: 12px;
    /*width: 793px;*/
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    margin: auto;
    padding: 25px 0 35px 0;
    justify-content: space-between;
}

.block {
    font-size: 24px;
    margin-bottom: 10px;
}

.head_text {
    display: block;
    font-weight: bold;
}

.main_text, ul, ol {
    margin-left: 80px;
}

ul, ol {
    list-style-type: none;
    cursor: url('../img/cat.png') 2 2, default;
}

li::before {
    content: "💜";
    margin-right: 5px;
}

.image {
    display: flex;
    justify-content: center;
}

img {
    max-width: 90%;
}

a {
    display: block;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    color: #105A61FF;
    text-decoration-color: #FF8630;
    text-decoration-thickness: 2px;
    transition: background-color 0.2s linear;
    width: 100px;
    margin: 0 0 5px 0;
}

a:hover {
    background-color: #FF8630;
    border-radius: 3px;
    transition: background-color 0.2s linear;
}