@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.woff2") format("woff2")
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.header {
    /*line-height: 13pt;*/
    text-align: center;
    text-transform: uppercase;
}

table, tbody {
    vertical-align: top;
    overflow: visible;
}

table {
    border-collapse: collapse;
    /*margin-left: 1pt;*/
    width: 100%;
}

td {
    border-top-style: solid;
    border-top-width: 2pt;
    border-left-style: solid;
    border-left-width: 2pt;
    border-bottom-style: solid;
    border-bottom-width: 2pt;
    border-right-style: solid;
    border-right-width: 2pt;
    padding: 5px 10px;

}

.button {
    width: 74pt;
    height: 20pt;
    text-align: left;
}

.button:hover{
    background-color: #FF8630;
    color: #FFFFFF;
    transition: background-color 0.2s linear;
}

span {
    width: 120px;
    display: inline-block;
    color: black;
    padding: 12px;
    border-radius: 3px;
    text-decoration: none;
    /*font-family: Tahoma, serif;*/
    line-height: 1;
    /*font-weight: 100;*/
    cursor: pointer;
}


.main_text {
    text-align: left;
    font-size: 18px;
}


