* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.woff2") format("woff2")
}

body {
    height: 100%;
    background-color: #FCF5F3;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    /*position: relative;*/
    /*overflow: hidden;*/
    vertical-align: top;
    font-size: 35px;
}

.header {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 8px;
}

table {
    width: 650px;
    /*border-top: 7px solid #FF8630;*/
    border-collapse: collapse;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
}

tr {
    border: 1px solid #FF8630;
    border-left-width: 0;
    padding: 14px;
    vertical-align: top;
    line-height: 1.2;
}

td {
    border: 1px solid #FF8630;
    border-left-width: 0;
    padding: 14px;
    vertical-align: top;
    line-height: 1.2;
}

tbody td:first-child {
    text-align: left;
    padding-left: 0;
    font-weight: bold;
    border-right: 4px solid #FF8630;
}

tbody tr:first-child {
    font-weight: bold;
    border-bottom: 4px solid #FF8630;
    border-top: none;
}

tbody tr:first-child td{
    border-top: none;
}

/*
tbody tr:last-child, tbody tr:last-child td{
    border-bottom: none;
}
*/

tbody tr:not(:first-child) td:not(:first-child):hover{
    background: #ff6e6c;
    transition: background-color 0.5s linear;
}

.table {
    display: flex;
    width: 765px;
    line-height: 1.5;
    margin: 0 auto;
}


.calculator {
    margin: 40px 0 0 30px;
}

.select-container {
    display: flex;
}

.select-label {
    margin-right: 35px;
}

.select-wrapper {
    position: relative;
}


select {
    position: relative;
    width: 100px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    background-color: #45ffc5;
    font-family: inherit;
    font-size: inherit;
    /*font-weight: 300;*/
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
